{% extends 'layout_adm.njk' %}

{% block head %}
	<title>Foodfy Edit {{ chef.name }}</title>
{% endblock head %}

{% block content %}
	<div class="admin_recipe">
		<section class="admin_recipe-title">
			<div>
				<h1>Editando chef</h1>
			</div>
			<div>
				<button type="submit" class="delete" form="form-delete">Deletar</button>
				<button type="submit" class="save" form="form-save">Salvar chef</button>
			</div>
		</section>
		
		<form method="POST" id="form-save" action="/admin/chefs?_method=PUT">
			<section class="details">
					<input type="hidden" name="id" value="{{ chef.id }}">
					{% include 'chefs/admin/fields.njk' %}
			</section>
		</form>

		<form method="POST" id="form-delete" action="/admin/chefs?_method=DELETE">
			<input type="hidden" name="id" value="{{ chef.id }}">
		</form>
	</div>
	
	{% include 'confirmDelete.njk' %}

{% endblock content %}
