{% extends 'layout.njk' %}

{% block head %}
	<title>Foodfy - Chefs</title>
{% endblock head %}

{% block content %}
	<section class="recipes-admin">
		{% for chef in chefs %}
			<div class="recipe">
				<div class="recipe__image-container">
					<img src="{{ chef.avatar_url }}" alt="{{ chef.name }}">
				</div>

				<div class="recipe__content">
					<p>{{ chef.name }}</p>
					<p>{{ chef.total_recipes }} {% if chef.total_recipes == 1 %} receita {% else %} receitas {% endif %} </p>
				</div>
			</div>
		{% endfor %}
	</section>

{% endblock content %}
